{
  "branches": ["master"],
  "plugins": [
      "@semantic-release/commit-analyzer",
      "@semantic-release/release-notes-generator",
      "@semantic-release/github",
      "@semantic-release/git",
      "@semantic-release/changelog",
      ["@semantic-release/exec", {
            "prepareCmd" : "./bot.sh --prepare ${nextRelease.version}'",
            "publishCmd" : "./bot.sh --publish ${nextRelease.version}"
            }]
    ]
}
